{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/quii">Source Twitter</a></li>
        <li><a href="https://github.com/minhnghia2k3">Minhnghia2k3 GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}